//====================== VARIABLES ============================//

//====================== COLORS ============================//
$main_paragraph_color: #919191; // teksto, photo filter, *
$exclusive_color: #2ecc71; //zalia akcento spalva, hover
$light_section: #fff; //balta sekcija
$dark_section: #f2f2f1; // pilka sekcija, progress status
$nav_section: #252e30; // menu + contact
$footer_color: #191f21; // footer
$field_background: #4b5456; // contact form; icon bg, copyright
$headings_color: #566366; // h2, h3, quotes author
$paragraph_border: #ccc; // border line

//====================== FONTS ============================//
$font_family: "Roboto", Arial, Helvetica, sans-serif;

//====================== SECTION ============================//
// Light section
%light_section {
	background-color: $light_section;
	width: 100%;
}

// Dark section
%dark_section {
	background-color: $dark_section;
	width: 100%;
}

// Nav and contact section
%nav {
	background-color: $nav_section;
}

//====================== CONTAINERS ============================//
%container {
	max-width: 1180px;
	padding: 99px 0 54px 0;
	justify-content: space-between;
	margin: 0 auto;
}

%container_second {
	max-width: 1180px;
	padding-bottom: 100px;
	margin: 0 auto;
	justify-content: space-between;
}

%container_wrap {
	flex-wrap: wrap;
}

//====================== CONTAINER TITLE ============================//
%container_title {
	max-width: 1180px;
	margin: 0 auto;
	padding: 99px 0 0;
}

//====================== TYPOGRAPHY ============================//
%h1 {
	color: $light_section;
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 0.9;
    margin: 0 0 45px;
    text-transform: uppercase;
}

%h2 {
	color: $headings_color;
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 0.8;
    margin: 0 0 48px;
    text-transform: uppercase;
}

%h3 {
	color: $headings_color;
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 1.0909;
    margin: 0 0 19px;
    text-transform: uppercase;
}

%h4 {
	color: $light_section;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.6666;
    text-transform: uppercase;
}

%paragraph {
	color: $main_paragraph_color;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.6666;
    margin: 0 0 42px;
}

//====================== LINK BUTTON ============================//
%link_button {
	border: 2px solid $exclusive_color;
    padding: 20px 36px 18px;
    color: $exclusive_color;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.3333;
    text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	position: relative;
}

//====================== CSS START ============================//
*,
*::before,
*::after{
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: $font_family;
}

// ****************************** LIGHT SECTION ******************************
.summary-section,
.skills-section,
.education-section,
.portfolio-section {
	@extend %light_section;
}

// ****************************** DARK SECTION ******************************
.about-section,
.resume-section,
.quotes-section {
	@extend %dark_section;
}

// ****************************** HEADER NAV & CONTACT SECTION ******************************
.main-nav-section,
.contact-section {
	@extend %nav;
}

// ****************************** FOOTER SECTION ******************************
.footer-section {
	background-color: $footer_color;
}

// ****************************** CONTAINERS ******************************
.flex-container {
	display: flex;
}

.summary-container,
.portfolio-container,
.gallery-container,
.contact-container {
	@extend %container;
}

.skills-container,
.education-container {
	@extend %container_second;
}

.gallery-container,
.quotes-container {
	@extend %container_wrap;
}
 
// ****************************** CONTAINER TITLE ******************************
.skills-title,
.education-title,
.contact-title {
	@extend %container_title;
}

// ****************************** TYPOGRAPHY ******************************
p,
.form-field {
	@extend %paragraph;
}

p.rating {
	background-color: $exclusive_color;
    color: $light_section;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 2.1428;
    padding: 1px 9px 1px 10px;
	max-width: 71px;
}

p.quote-text {
	color: $main_paragraph_color;
	font-size: 1.5rem;
	font-weight: 400;
	font-style: italic;
	line-height: 1.5;
	text-align: center;
	margin-bottom: 45px;
}

p.author-name {
	color: $headings_color;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 2;
	text-transform: uppercase;
	text-align: center;
}

h1 {
	@extend %h1;
}

h2 {
	@extend %h2;
}

h3 {
	@extend %h3;
}

h4 {
	@extend %h4;
	padding-left: 40px;
}

// ****************************** LINK BUTTON ******************************
.skills-text-column a, .resume-container a {
	@extend %link_button;

	&:hover {
		color: $light_section;
		border: 2px solid $light_section;
		background-color: $exclusive_color;
	}
}

.hero-column a {
	@extend %link_button;
	color: $light_section;
	border: 2px solid $light_section;

	&:hover {
		color: $light_section;
		border: 2px solid $light_section;
		background-color: rgba(89, 208, 139, 0.6);

	}
}

/****************************** HERO ******************************/
.hero-section {
	min-height: 100vh;

	.hero-slide img {
		display: block;
		width: 100%;
	}

	.hero-container {
		min-height: 100vh;
		justify-content: center;
		align-items: center;
		text-align: center;
		color: $light_section;
		position: relative;
		background-size: cover;
		background-position: right center;
		padding: 0;
		
		.hero-column h1 {
			border-top: 2px solid $light_section;
			border-bottom: 2px solid $light_section;
			padding: 15px 0 15px 0;
			position: relative;
		}
	}
}

.hero-column {
	margin-top: 95px;
	display: inline-block;
}

.bg-overlay, .bg-overlay:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
	left: 0;
	align-items: center;
    justify-content: center;
}

.bg-overlay:before {
    content: "";
    opacity: .55;
	background-color: $footer_color;
}

/****************************** HEADER MAIN NAVIGATION ******************************/
.flex-logo {
	display: flex;
	align-items: center;
}

.main-nav-section {
	padding: 4px 0 4px;
	position: sticky;
	top: 0;
	z-index: 1;
	border-bottom: 1px solid $field_background;

	.main-nav-container {
		margin: 0 auto;
    	justify-content: space-between;
		max-width: 1180px;	
	}
}

.main-nav-logo {
	margin: 0;
}

.nav-menu-list {
	list-style-type: none;

	a {
		color: $light_section;
		font-size: 1rem;
		font-weight: 700;
		line-height: 1.875;
		text-decoration: none;
		text-transform: uppercase;
		margin-left: 40px;

		&:hover {
			color: $exclusive_color;
		}

		&.active {
			color: $exclusive_color;
			border-bottom: 1px solid $exclusive_color;
			padding: 1px 0 1px;
		}
	}
}

/****************************** HEADER MAIN BURGER MENU ******************************/
button {
	background: none;
	border: none;
	display: none;

	i {
		font-size: 2rem;
		color:$light_section;

		&:hover {
			color: $exclusive_color;
		}
	}
}

/****************************** SUMMARY ******************************/
.summary-container {
	justify-content: space-between;
}

.summary-column {
	width: calc(33.3333% - 35.6666px);
}


/****************************** ABOUT ME ******************************/
.about-column-photo {
	width: 40%;

	img {
		width: 100%;
		display: block;
		object-fit: cover;
	}
}

.about-column {
	flex-direction: column;
    padding: 100px 0 0 100px;
	width: 60%;
	
	.about-text {
		max-width: 680px;
	}
}

.about-service {
	max-width: 680px;
    flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	
	.about-service-column {
		width: calc(50% - 25px);
		margin-top: 33px;
	}

		.service-icon {
			max-width: 41px;
			margin-right: 27px;
		}

			.service-icon i {
				font-size: 2.5625rem;
				color: #2ecc71;
			}


}

/****************************** SKILLS ******************************/
.skills-container {
	max-width: 1180px;
	justify-content: space-between;

	.skills-text-column,
	.skills-info-column {
		width: calc(50% - 46px);
	}

	.skills-info-block progress {
		width: 100%;
		background-color: $exclusive_color;
		margin-bottom: 40px;
		color: $light_section;
		text-align: center;
	}
}

progress[value]::-webkit-progress-value {
	background-image: -webkit-linear-gradient($exclusive_color, $exclusive_color);
	padding-bottom: 30px;
	border-radius: 2px; 
	background-size: 35px 20px, 100% 100%, 100% 100%;
}

progress[value]::-webkit-progress-bar {
	background-color: $dark_section;
	border-radius: 2px;
	padding-bottom: 30px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value] {
	position: relative;
	padding-bottom: 9px;

	&:after {
		content: attr(value) '%';
		position: absolute;
		transform: translateX(-130%);
	}
}

/****************************** RESUME ******************************/
.resume-section {

	&:after {
		content: '';
		position: absolute;
		right: 50%;
		text-align: center;
		border-left: 25px solid rgba(0, 0, 0, 0);
		border-right: 25px solid rgba(0, 0, 0, 0);
		border-top: 25px solid $dark_section;
		transform: translate(15px);
	}	
}

.resume-container {
	max-width: 1020px;
	padding: 100px 0 100px;
	margin: 0 auto;
	text-align: center;

	p {
		text-align: center;
	}

	a {
		display: inline-block;
	}
}

/****************************** EDUCATION ******************************/
.border-line {
	border-bottom: 1px solid $paragraph_border;
}

.education-column {
	width: calc(50% - 36px);
}

.education-info-column {

	h3 {
		margin-bottom: 10px;
	}
	
	p {
		margin-bottom: 10px;
	}

	span {
		font-weight: 700;
	}

	.paragraph-border {
		border-top: 1px solid $paragraph_border;
		padding-top: 29px;
		margin: 25px 0 75px;
	}
}

/****************************** QUOTES - TESTIMONIALS ******************************/
.quotes-container {
	max-width: 1020px;
    padding: 99px 0 96px;
    margin: 0 auto;
	justify-content: center;
	z-index: 0;
}

.testimonials-photo img {
	margin: 0 auto;
	border-radius: 50%;
	border: 2px solid $light_section;
	display: block;
	max-width: 120px;
	margin-bottom: 30px;
	-webkit-box-shadow: 0px 5px 10px -1px rgba(112,112,112,1);
	-moz-box-shadow: 0px 5px 10px -1px rgba(112,112,112,1);
	box-shadow: 0px 5px 10px -1px rgba(112,112,112,1);
}

/****************************** PORTFOLIO ******************************/
.portfolio-container {
	text-align: center;
	justify-content: center;
}

.gallery-container {
	padding: 0 0 100px;
	justify-content: inherit;
	max-width: 1300px;
}

.gallery-column,
.filter-column {
	width: calc(33.3333% - 40px);
	position: relative;
	margin: 0 20px 40px;

	img {
		display: block;
		width: 100%;
	}
}

.gallery-column:hover .overlay {
	opacity: 1;
}

.overlay {
	position: absolute;
	padding: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: rgba(89, 208, 139, 0.6);
}

.hide {
	display: none;
}

.search-icone {
	color: $light_section;
	font-size: 3.125rem;
	opacity: 1;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.filter-column {
	background-color: $nav_section;
	color: $light_section;
	justify-content: left;
}

.filter-nav {
	list-style-type: none;
	padding-left: 0;

	li {
		padding-bottom: 12px;
	}
	
	a {
		color:$main_paragraph_color;
		text-decoration: none;
		display: block;
		padding-left: 40px;

		&:hover {
			color: $light_section;
		}

		&.active {
			color: $light_section;
			background-color: lighten($footer_color, 20%);
			font-size: 1.15rem;
		}
	}
}

/****************************** CONTACT ******************************/
.contact-title h2 {
	color: $light_section;
}

.contact-container {
	padding: 0 0 120px;
}

.contact-column {
	width: calc(50% - 46px);

	p span,
	.contact-label {
		color: $light_section;
		font-size: 1.125rem;
	}

	.form-field {
		font-family: $font_family;
		color: $light_section;
		width: 100%;
		background-color: $field_background;
		display: block;
		border: none;
		padding: 11px 11px 11px;
		margin: 15px 0 15px;
	}

	.submit-button {
	padding: 20px 36px 18px;
    background-color: $footer_color;
    color: #fff;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.3333;
    text-transform: uppercase;
    text-decoration: none;
	border: none;

		&:hover {
			background-color: $field_background;
		}
	}
}

.contact-label span {
	color:$main_paragraph_color;
	padding-left: 6px;
}

/****************************** FOOTER ******************************/
.footer-container {
	max-width: 1180px;
    margin: 0 auto;
    flex-direction: column;
	text-align: center;
	
	.copyright-column {
		padding-top:40px;
	}

		p {
			color: $field_background;
			font-size: 0.875rem;
			font-weight: 500;
			line-height: 2.1428;
			text-transform: uppercase;
			margin-bottom: 20px;
		}
		
}

.social-media-nav {
	list-style-type: none;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0;
	padding: 0;

	a {
		display:block;
		background-color: $field_background;
		padding: 5px;
		color:$footer_color;
		border-radius: 500px;
		margin-right: 10px;
		margin-bottom: 50px;
		font-size: 1.25rem;
		line-height: 1.3;

		&:hover {
			color: $light_section;
		}
	}
}

/****************************** OWL CAROUSEL SLIDER ******************************/
.owl-theme .owl-dots .owl-dot.active span {
	background-color: $exclusive_color;
}

.owl-theme .owl-dots .owl-dot span {
	background-color: $dark_section;
	border: 2px solid $exclusive_color;
}

/****************************** BACK TO TOP ******************************/
.back-to-top {
    position: fixed;
    bottom: 30px;
    right: 15px;
    z-index: 9999;
    text-align: center;
    color: $field_background;
    cursor: pointer;
    border: 0;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
	opacity: 0;

	i {
		font-size: 2rem;

		&:hover {
			color: $exclusive_color;
		}
	}
}

.back-to-top.show {
    opacity: 1;
}

/****************************** RESPONSIVE SETTINGS ******************************/
@media all and (min-width: 1051px) and (max-width: 1260px){
	
	.about-container,
	.summary-container,
	.skills-title,
	.skills-container,
	.resume-container,
	.education-title,
	.education-container,
	.quotes-container,
	.portfolio-container,
	.gallery-container,
	.contact-title,
	.contact-container {
		width: 90%;
		margin: 0 auto;
	}

	.main-nav-column {
		padding-right: 60px;
	}

	.nav-menu-list {
		padding-left: 0;
	}

	.filter-column h4 {
		margin: 10px 0 10px;
	}

	.filter-nav {
		margin: 0 0 5px;
	}

}

@media all and (max-width: 1050px){

	button {
		display: block;
		margin-right: 15px;
		margin-top: 13px;
	}
	
	.main-nav {
		display: none;
	}

	.show {
		display: block;
	}

	.hide-nav {
		display: none;
	}

	.nav-menu-list {
		display: block;
		position: absolute;
		right: 0;
		text-align: center;
		padding-top: 20px;
		background-color: $nav_section;
		width: 100vw;

		li {
			padding-bottom: 15px;
		}

		a {
			margin-left: 0;
			font-size: 1.225rem;
		}
	}

	.nav-menu-list.flex-container {
		padding-left: 0;
		margin-top: 30px;
	}
	
	.main-nav-column {
		position: relative;
	}

	.main-nav-logo {
		margin-left: 4px;
	}

	.about-container,
	.summary-container,
	.skills-title,
	.skills-container,
	.resume-container,
	.education-title,
	.education-container,
	.quotes-container,
	.portfolio-container,
	.gallery-container,
	.contact-title,
	.contact-container {
		width: 80%;
		margin: 0 auto;
	}

	.gallery-container {
		justify-content: space-between;
	}

	.gallery-column,
	.filter-column {
		margin: 0 0 40px;
	}

	.about-service {
		padding-bottom: 100px;
	}

	.about-container.flex-container {
		display: block;
	}

	.about-column {
		width: 100%;
		padding: 100px 0 0;

		.about-text,
		.about-service {
			max-width: none;
		}
	}

	.about-column-photo {
		width: 80%;
		padding: 100px 0 0;
		margin: 0 auto;
	}

	.gallery-column,
	.filter-column,
	.contact-column {
		width: calc(50% - 20px);
	}

	.filter-nav li {
		padding-bottom: 14px;
	}

}

@media all and (min-width: 768px) and (max-width: 900px) {
	
	h4 {
		margin: 10px 0 5px;
	}

	.filter-nav {
		margin: 0;

		a {
			font-size: 1rem;
		}
	}
}

@media all and (min-width: 320px) and (max-width: 767px) {

	h1 {
		font-size: 2rem;
		line-height: 1.25;
	}

	h2 {
		line-height: 1;
	}

	p.quote-text {
		font-size: 1.125rem;
	}

	.summary-container.flex-container,
	.skills-container.flex-container,
	.education-container.flex-container,
	.contact-container.flex-container {
		display: block;
	}

	.summary-container,
	.about-column,
	.skills-title,
	.resume-container,
	.education-title,
	.quotes-container,
	.portfolio-container,
	.contact-title {
		padding: 70px 0 0;
	}

	.about-column-photo {
		display: none;
	}

	.about-service .about-service-column,
	.summary-column,
	.skills-container .skills-text-column,
	.skills-container .skills-info-column,
	.education-container .education-column {
		width: 100%;
	}

	.skills-container,
	.education-container {
		padding-bottom: 0px;

		.skills-info-block {
			padding: 60px 0 20px;
		}
	}

	.resume-container a {
		margin-bottom: 50px;
	}

	.resume-section:after {
		transform: translateX(50%);
	}
	
	.gallery-column,
	.filter-column,
	.contact-column {
		width: 100%;
	}

	.footer-container {
		width: 90%;
		margin: 0 auto;
	}

	.owl-theme .owl-nav.disabled+.owl-dots {
		margin-top: 0;
		padding-bottom: 50px;
	}

	.google-map {
		margin-bottom: 30px;
	}

	#hero button {
		margin-top: 50px;
	}

	#testimonials button {
		margin-bottom: 50px;
	}
}